{% layout "layout.liquid" %}

{% block title %}Editing Ingredient{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/layout/forms.css">
<link rel="stylesheet" href="/css/kitchen/forms.css">
<link rel="stylesheet" href="/css/kitchen/kitchen_nav.css">
{% endblock %}

{% block header %}Editing Ingredient{% endblock %}

{% block content %}
<div class="card">
  <form action="/kitchen/{{ing._id}}?_method=PUT" method="POST">
    <fieldset>
      <legend>Editing {{ing.name}}</legend>

      <div class="card-body">
        <div class="form-text-row">
          <label class="form-label" for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            value="{{ing.name}}"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="amount">Amount</label>
          <input
            class="form-control"
            type="text"
            inputmode="numeric"
            name="amount"
            value="{{ing.amount}}"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="tags">Tags</label>
          <input
            class="form-control"
            type="text"
            name="tags"
            value="{{tagStr}}"
          />
        </div>

        <div class="form-text-row" class="favorite-checkbox">
          <label class="form-label" for="favorite">Favorite?</label>
          <div class="checkbox">
            <input
              class="form-check-input"
              type="checkbox"
              name="favorite"
              {% if ing.favorite == true %} checked {% endif %}
            />
          </div>
        </div>
      </div>
    </fieldset>

    <div class="button-container">
      <input
        type="button"
        onclick="location.href='/kitchen/{{ing._id}}';"
        value="Back"
      />

      <input
        type="submit"
        value="Save Ingredient"
      />
    </div>
  </form>
</div>
{% endblock %}