{% layout "layout.liquid" %}

{% block title %}Kitchen{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/kitchen/index.css">
<link rel="stylesheet" href="/css/kitchen/kitchen_nav.css">
{% endblock %}

{% block header %}What's in the Kitchen?{% endblock %}

{% block content %}
  {% if ings.size < 1 %}
    <p>There is nothing in your kitchen :(</p>
  {% else %}
    {% for ing in ings %}
      <div class="card">
        <h3>{{ing.name}}</h3>
        <ul>
          <li>amount: {{ing.amount}}</li>
          <li>tags:
            {% for tag in ing.tags %}
              {{tag}}, 
            {% endfor %}  
          </li>
          <li>favorite? {{ing.favorite}}</li>
          <li>updated: {{ing.updatedAt}}</li>
          <li>id: {{ing._id}}</li>
        </ul>

        <a href="/kitchen/{{ing._id}}"><span class="card-link"></span></a>

        <ul class="nav justify-content-around ingredient-nav">
          <li class="nav-item">
            <form action="/kitchen/{{ing._id}}?_method=DELETE" method="POST">
              <input
                type="submit"
                value="Delete"
                class="ingredient-nav-button"
              />
            </form>
          </li>
          <li class="nav-item">
            <form action="/">
              <input
                type="submit"
                value="Consume"
                class="ingredient-nav-button center-button"
              />
            </form>
          </li>
          <li class="nav-item">
            <form action="/">
              <input
                type="submit"
                value="Replenish"
                class="ingredient-nav-button"
              />
            </form>
          </li>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <form action="/kitchen/new" class="new-item-button">
    <input
      type="submit"
      value="+"
    />
  </form>
{% endblock %}