{% layout "layout.liquid" %}

{% block title %}Kitchen{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/layout-index.css">

<link rel="stylesheet" href="/css/kitchen/kitchen_nav.css">
<link rel="stylesheet" href="/css/kitchen/index.css">
{% endblock %}

{% block header %}What's in the Kitchen? ({{ings.size}}){% endblock %}

{% block content %}
  {% if ings.size < 1 %}
    <p>There is nothing in your kitchen :(</p>
  {% else %}
    <form id="search-bar" action="/kitchen/search" method="POST">
      <input
        class="form-control"
        type="text"
        name="query"
        {% if searchParams %}
          value="{{searchQuery}}"
        {% else %}
          placeholder="Search by name or tags"
        {% endif %}
      />
      <input
        type="submit"
        value="Search"
      />
    </form>
    {% for ing in ings %}
      <div class="card">
        <div class="card-title">
          <h4>{{ing.name}}</h4>
          {% if ing.favorite %}
            <img class="favorite-icon" src="/img/favorite.png" />
          {% endif %}
        </div>
        <div class="card-text">{{ing.amount}} on hand as of {{ing.renderedDate}}.</div>

        {% if ing.tags.size > 0 %}
          <div id="tag-container">
            {% for tag in ing.tags %}
              <div class="ing-tag">{{tag}}</div>
            {% endfor %}
          </div>
        {% endif %}

        <ul class="nav justify-content-around ingredient-nav">
          <li class="nav-item">
            <form action="/kitchen/{{ing._id}}">
              <input
                type="submit"
                value="View"
                class="ingredient-nav-button"
              />
            </form>
          </li>
          <li class="nav-item">
            <form action="/">
              <input
                type="submit"
                value="Consume"
                class="ingredient-nav-button center-button"
              />
            </form>
          </li>
          <li class="nav-item">
            <form action="javascript:void(0);">
              <input
                type="submit"
                value="Buy More"
                class="ingredient-nav-button buy-more-button"
                id="buy-more-{{ing.name}}"
                target="/shoplist/transfer-ingredient"
              />
            </form>
          </li>
        </ul>
      </div>
    {% endfor %}
  {% endif %}

  <form action="/kitchen/new" class="new-item-button">
    <input
      type="submit"
      value="+"
    />
  </form>
{% endblock %}

{% block scripts %}
<script src="/scripts/kitchen/buymore.js" async defer></script>
{% endblock %}