{% layout "layout.liquid" %}

{% block title %}Kitchen{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="./css/kitchen/index.css">
{% endblock %}

{% block header %}What's in the Kitchen?{% endblock %}

{% block content %}
  {% if ings.size < 1 %}
    <p>There is nothing in your kitchen :(</p>
  {% else %}
    {% for ing in ings %}
      <div class="card">
        <h3>{{ing.name}}</h3>
        <ul>
          <li>amount: {{ing.amount}}</li>
          <li>tags:
            {% for tag in ing.tags %}
              {{tag}}, 
            {% endfor %}  
          </li>
          <li>favorite? {{ing.favorite}}</li>
          <li>updated: {{ing.updatedAt}}</li>
          <li>id: {{ing._id}}</li>
        </ul>

        <a href="/kitchen/{{ing._id}}"><span class="card-link"></span></a>

        <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid nav-div">
            <form action="/kitchen/{{ing._id}}?_method=DELETE" method="POST">
              <input type="submit" value="Delete">
            </form>
            <form action="/kitchen/{{ing._id}}">
              <input type="submit" value="Consume">
            </form>
            <form action="/kitchen/{{ing._id}}">
              <input type="submit" value="Replenish">
            </form>
          </div>
        </nav>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}