{% layout "layout.liquid" %}

{% block title %}Shopping List{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/shoplist/index.css">
<link rel="stylesheet" href="/css/shoplist/shoplist_nav.css">
{% endblock %}

{% block header %}Shopping List{% endblock %}

{% block content %}
  <div class="card">
    {% if shoplist.size < 1 %}
      <p>There is nothing in your shopping list :(</p>
    {% else %}
      {% for item in shoplist %}
        <label class="checkbox-label" id="label-{{forloop.index0}}">
          <form action="/shoplist?_method=PUT" method="POST">
            <input
              type="checkbox"
              id="item-{{forloop.index0}}"
              {% if item.checked %} checked {% endif %}
              onChange="this.form.submit()"
            />
            <!-- by default, html does not send data when the checkbox is
                  empty; this will override that behavior and correctly report
                  the checkbox status regardless -->
            <input
              type="hidden"
              name="{{item._id}}"
              {% if item.checked %}
                value="off"
              {% else %}
                value="on"
              {% endif %}
            />
            <span>
              {{item.name}}
              {% if item.amount != 0 %}
                ({{item.amount}})
              {% endif %}
            </span>
          </form>

          <form action="/shoplist/{{item._id}}/edit" method="GET">
            <input type="submit" value="Edit" />
          </form>

          <form action="/shoplist/{{item._id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" />
          </form>
        </label>
        
      {% endfor %}
    {% endif %}
  </div>

  <form action="/shoplist/new" class="new-item-button">
    <input
      type="submit"
      value="+"
    />
  </form>
{% endblock %}

{% block scripts %}
{% endblock %}