{% layout "layout.liquid" %}

{% block title %}Editing Recipe{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/layout-form.css">
<link rel="stylesheet" href="/css/recipes/forms.css">
<link rel="stylesheet" href="/css/recipes/recipe_nav.css">
{% endblock %}

{% block header %}Editing Recipe{% endblock %}

{% block content %}
<div class="card">
  <form action="/recipes/{{recipe._id}}?_method=PUT" method="POST">
    <fieldset>
      <legend>Editing {{recipe.name}}</legend>

      <div class="card-body">
        <div class="form-text-row">
          <label class="form-label" for="name">Name</label>
          <input
            class="form-control"
            type="text"
            name="name"
            value="{{recipe.name}}"
          />
        </div>

        <div class="form-text-row">
          <label class="form-label" for="description">Description</label>
          <textarea
            class="form-control"
            name="description"
          >{{recipe.description}}</textarea>
        </div>

        <div class="section-divider"></div>

        <div id="ingredients-block">
          {% for ing in recipe.ingredientList %}
            <div class="form-text-row">
              <label class="form-label" for="ingredients">Ingredient</label>
              <input
                class="form-control"
                type="text"
                name="ingredients"
                value="{{ing.name}}"
              />
            </div>

            <div class="form-text-row">
              <label class="form-label" for="amounts">Amount</label>
              <input
                class="form-control"
                type="text"
                inputmode="numeric"
                name="amounts"
                value="{{ing.amount}}"
              />
            </div>
          {% endfor %}
        </div>
        <div id="add-ingredient">Add ingredient</div>

        <div class="section-divider"></div>

        <div class="form-text-row">
          <label class="form-label" for="instructions">Instructions</label>
          <textarea
            class="form-control"
            name="instructions"
          >{{recipe.instructions}}</textarea>
        </div>

        <div class="section-divider"></div>

        <div class="form-text-row">
          <label class="form-label" for="tags">Tags</label>
          <input
            class="form-control"
            type="text"
            name="tags"
            value="{{tagStr}}"
          />
        </div>
        
        <div class="form-text-row">
          <label class="form-label" for="notes">Notes</label>
          <input
            class="form-control"
            type="text"
            name="notes"
            value="{{noteStr}}"
          />
        </div>

        <div class="form-text-row favorite-checkbox">
          <label class="form-label" for="favorite">Favorite?</label>
          <div class="checkbox">
            <input
              class="form-check-input"
              type="checkbox"
              name="favorite"
              {% if recipe.favorite %} checked {% endif %}
            />
          </div>
        </div>
      </div>
    </fieldset>

    <div class="button-container">
      <input
        type="button"
        onclick="location.href='/recipes/{{recipe._id}}';"
        value="Back"
      />
      
      <input
        type="submit"
        value="Save Recipe"
      />
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="/scripts/recipes/add-ingredient-button.js" async defer></script>
{% endblock %}