{% layout "layout.liquid" %}

{% block title %}Recipe Book{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/recipes/index.css">
<link rel="stylesheet" href="/css/recipes/recipe_nav.css">
{% endblock %}

{% block header %}Quick Filter{% endblock %}

{% block content %}
  {% if recipes.size < 1 %}
    <p>There's nothing you can make with what you have on hand :(</p>
  {% else %}
  <a href="/recipes">Back</a>
  <h2>Here's what you can make:</h2>
    {% for recipe in recipes %}
      <div class="card">
        <h3>{{recipe.name}}</h3>
        <ul>
          <li>ingredients:
            <ul>
              {% for ing in recipe.ingredientList %}
                <li>{{ing.name}}: {{ing.amount}}</li>
              {% endfor %}
            </ul>
          </li>
          <li>tags:
            {% for tag in recipe.tags %}
              {{tag}}, 
            {% endfor %}  
          </li>
          <li>notes: {{recipe.notes}}</li>

          <li>favorite? {{recipe.favorite}}</li>
          <li>updated: {{recipe.updatedAt}}</li>
          <li>id: {{recipe._id}}</li>
        </ul>

        <a href="/recipes/{{recipe._id}}"><span class="card-link"></span></a>

        <form action="/recipes/{{recipe._id}}?_method=DELETE" method="POST">
          <input
            type="submit"
            value="Delete"
          />
        </form>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}