{% layout "layout.liquid" %}

{% block title %}Recipe Book{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/layout-index.css">

<link rel="stylesheet" href="/css/recipes/recipe_nav.css">
<link rel="stylesheet" href="/css/recipes/index.css">
{% endblock %}

{% block header %}Recipe Book ({{recipes.size}}){% endblock %}

{% block content %}
  {% if recipes.size < 1 %}
    <p>There is nothing in your recipe book :(</p>
  {% else %}
    <form action="/recipes/filter">
      <input
        type="submit"
        value="Quick Filter"
      />
    </form>
    <form action="/recipes/search">
      <input
        type="submit"
        value="Search"
      />
    </form>
    {% for recipe in recipes %}
      <div class="card">
        <h4>{{recipe.name}}</h4>
        <ul>
          <li>ingredients:
            <ul>
              {% for ing in recipe.ingredientList %}
                <li>{{ing.name}}: {{ing.amount}}</li>
              {% endfor %}
            </ul>
          </li>
          <li>tags:
            {% for tag in recipe.tags %}
              {{tag}}, 
            {% endfor %}  
          </li>
          <li>notes: {{recipe.notes}}</li>

          <li>favorite? {{recipe.favorite}}</li>
          <li>updated on {{recipe.renderedDate}}</li>
        </ul>

        <a href="/recipes/{{recipe._id}}">view</a>

        <form action="/recipes/{{recipe._id}}?_method=DELETE" method="POST">
          <input
            type="submit"
            value="Delete"
          />
        </form>
      </div>
    {% endfor %}
  {% endif %}

  <form action="/recipes/new" class="new-item-button">
    <input
      type="submit"
      value="+"
    />
  </form>
{% endblock %}