{% layout "layout.liquid" %}

{% block title %}{{recipe.name}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/recipes/recipe_nav.css">
{% endblock %}

{% block header %}{{recipe.name}}{% endblock %}

{% block content %}
<div class="card">
  {{recipe.name}}
  <ul>
    <li>ingredients:
      <ul>
        {% for ing in recipe.ingredientList %}
          <li>{{ing.name}}: {{ing.amount}}</li>
        {% endfor %}
      </ul>
    </li>
    <li>instructions: {{recipe.instructions}}</li>
    <li>tags:
      {% for tag in recipe.tags %}
        {{tag}}, 
      {% endfor %}  
    </li>
    <li>notes: 
      {% for note in recipe.notes %}
        {{note}},
      {% endfor %}</li>

    <li>favorite? {{recipe.favorite}}</li>
    <li>updated: {{recipe.renderedDate}}</li>
    <li>id: {{recipe._id}}</li>
  </ul>
  <p><a href="/recipes/{{recipe._id}}/edit">Edit Recipe</a></p>
  <p><a href="/recipes/{{recipe._id}}/make">I made this!</a></p>
  <p><a href="/recipes/{{recipe._id}}/transfer">Transfer to SL</a></p>
</div>
<a href="/recipes">Back</a>
{% endblock %}